[Unit]
Description=Xmatch Service

[Service]
ExecStart=%h/deployment/production/bin/prod server
WorkingDirectory=%h/deployment/production
EnvironmentFile=%h/deployment/production/envfile
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=default.target
