{{define "title"}}{{ t .Local "home.title" }}{{end}}

{{define "main"}}
<div hx-target="this" hw-swap="outerHTML">
    <img src="/static/img/search.svg" alt="Search Icon"
    class="pointer-events-none left-4 top-9 relative w-4 h-4 inline-block invert-[.91] sepia-[.05] saturate-[10] hue-rotate-[190deg] brightness-[1.043] contrast-[.91]">
    </img>
    <button hx-get="/searchbar" class="pl-10 pr-6 shadow-md h-13 text-left  text-text w-full rounded-4xl bg-highlight-med hover:bg-highlight-high">
        {{ t .Local `home.search`}}
    </button>
</div>

{{end}}
