:root {
    /* fonts */
    --font-text: "Ubuntu Mono";
    --font-special: "Orbitron";
    /* colors */
    --base: #0a121b;
    --surface: #101a25;
    --overlay: #1b2735;
    --muted: #5b6578;
    --subtle: #7d8a9f;
    --text: #e0e7f4;
    --love: #eb6f92;
    --gold: #f0b976;
    --rose: #e79592;
    --pine: #3a8bac;
    --foam: #8fc7d0;
    --iris: #b8a0e0;
    --highlightLow: #1a2435;
    --highlightMed: #2d3a4d;
    --highlightHigh: #3e4d63;
    /* filters */
    --text-filter: brightness(0) saturate(100%) invert(99%) sepia(15%) saturate(1961%) hue-rotate(177deg) brightness(100%) contrast(92%);
    --foam-filter: brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(4696%) hue-rotate(164deg) brightness(90%) contrast(80%);
    --lighten-filter: brightness(1.2);
    --darken-filter: brightness(0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-text), monospace;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    line-height: 1.5;
    background: radial-gradient(ellipse at bottom, var(--overlay) 0%, var(--base) 100%);
    color: var(--text);
    overflow-y: scroll;
}

header,
nav,
main,
footer {
    padding: 2px calc((100% - 680px) / 2) 0;
}

main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 674px);
    overflow: auto;
}

h1 a {
    font-size: 56px;
    font-family: var(--font-special);
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 a img {
    width: 86px;
    aspect-ratio: auto;
}

h1 a:hover img {
    filter: var(--foam-filter);
}

h1 a:hover {
    text-decoration: none;
    color: var(--foam);
}

h2 {
    font-size: 22px;
    margin-bottom: 36px;
    position: relative;
    top: -9px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

textarea,
input:not([type="submit"]) {
    font-size: 18px;
    font-family: var(--link-color), monospace;
}

header {
    background-size: 100% 6px;
    background-repeat: no-repeat;
    /* border-bottom: 1px solid var(--border-color); */
    overflow: auto;
    margin-top: 256px;
    padding-bottom: 27px;
    text-align: center;
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

a.button,
input[type="submit"] {
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 17px;
    background-color: var(--iris);
    color: var(--base)
}

a.button:hover,
input[type="submit"]:hover {
    cursor: pointer;
    text-decoration: none;
    filter: var(--lighten-filter);
}

/* form div { */
/* margin-bottom: 18px; */
/* } */

/* form div:last-child { */
/* border-top: 1px dashed var(--input-border); */
/* } */

/* form input[type="radio"] { */
/* margin-left: 18px; */
/* } */

/* form input[type="text"], */
/* form input[type="password"], */
/* form input[type="email"] { */
/* padding: 0.75em 18px; */
/* width: 100%; */
/* } */

/* form input[type=text], */
/* form input[type="password"], */
/* form input[type="email"], */
/* textarea { */
/* color: #6A6C6F; */
/* background: #FFFFFF; */
/* border: 1px solid #e4e5e7; */
/* border-radius: 3px; */
/* } */

form label {
    display: inline-block;
    margin-bottom: 9px;
}

.error {
    color: var(--love);
    font-weight: bold;
    display: block;
}

.error+textarea,
.error+input {
    border-color: var(--love) !important;
    border-width: 2px !important;
}

textarea {
    padding: 18px;
    width: 100%;
    height: 266px;
}

/* button { */
/* background: none; */
/* padding: 0; */
/* border: none; */
/* color: var(--link-color); */
/* text-decoration: none; */
/* } */

/* button:hover { */
/* color: var(--link-hover); */
/* text-decoration: underline; */
/* cursor: pointer; */
/* } */

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: var(--text);
    background-color: var(--overlay);
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

footer {
    border-top: 1px solid var(--highlightMed);
    padding-top: 17px;
    padding-bottom: 15px;
    background: var(--surface);
    height: 60px;
    color: #e2e8f0;
    text-align: center;
}

.error h1 {
    font-size: 24px;
    margin-bottom: 18px;
}

.error p {
    margin-bottom: 9px;
}

.error a {
    color: var(--text);
    text-decoration: underline;
}

.error a:hover {
    color: var(--subtle);
}
